<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <thead>
        <th>Game</th>
        <th>Action</th>
      </thead>
      <tbody>
        <% types.each do |type| %>
        <tr>
          <td><%= type.name %></td>
          <td>        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      type_path(type),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-sm btn-danger', remote: false %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>