<% hash = {} %>
<% unless params[:q].nil? %>
  <% params[:q].each do |param| %>
   <% hash[param[0]] = param[1] %>
  <% end %>
<% end %>

<%= will_paginate(games, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer,
 :previous_label => 'Back', :next_label => 'Next', inner_window: 1, outer_window: 0,
 :params => { q: hash },
  class: 'd-flex') %>
<div class="row" id="gamesList">
<% games.order(name: :asc).each do |game| %>
  <div class="col-6 col-sm-3 my-2">
    <div class="card">
      <% if game.steamid.nil? %>
        <%= link_to image_tag("https://lutris.net" + game.image_url, class: 'card-img-top'), game_path(game) %>
      <% else %>
        <%= link_to image_tag("https://steamcdn-a.akamaihd.net/steam/apps/" + game.steamid.to_s + "/header.jpg", class: 'card-img-top'), game_path(game) %>
      <% end %>
      <div class="card-body">
        <p class="card-text">
          <% if game.steamid.nil? %>
          <br>
          <% end %>
          <%= link_to game.name, game %>
        </p>
      </div>
    </div>
  </div>
  <br>
 <% end %> 
</div>
