<h3>User Benchmarks</h3>
<%= search_form_for @q, url: search_games_path, html: { method: :post } do |f| %>
<div class="row">
  <div class="col-4">
    <%#= f.label :name_cont %>
    <%= f.search_field :name_cont, placeholder: "Search Game", class: 'form-control' %>
  </div>
</div>
<br>
<% end %>
<div class="row">
  <div class="col-12">
    <div id="games_table">
      <%= render partial: 'table', locals: {games: @games} %>
    </div>
  </div>
</div>
  
<script type="text/javascript">
  $(document).on('turbolinks:load', () => $('#game_search input').keyup(function() {
    $.get($('#game_search').attr('action'), $('#game_search').serialize(), null, 'script');
  }));
</script>