<h3 class="text-center">Total</h3>
<%= bar_chart totalbar_bench_path(benchmark), colors: Bench::TWENTY, title: 'Average', ytitle: "FPS",
library: {subtitle: {useHTML: true, text: '<i class="fas fa-arrow-right" style="color: #00bc8c"></i> More is better'},
plotOptions: { column: { colorByPoint: true }}, xAxis: {visible: false }, tooltip: { headerFormat: ""}}, height: '500px', stacked: false %>
<%= column_chart total_cpu_bench_path(benchmark), colors: Bench::TWENTY, title: 'Average CPU Load', height: '400px', library: { plotOptions: { column: { colorByPoint: true }}} %>
<%= render partial: 'stats_total', locals: {types: benchmark.types} %>