<button id="hide" onclick="hide()">Hide</button> 
<style media="screen">
  body{
    padding-top: 50px;
    overflow-y: hidden;
    overflow-x: hidden;
  }
</style>
<h1 class="text-center"><%= @benchmark.name %></h1>
<h3 class="text-center">Total</h3><br>
<%= bar_chart totalbar_bench_path(@benchmark), colors: ["#e64b3b", "#3398dc", "#3cb44b"], title: 'Min/Avg/Max', ytitle: "FPS", id: 'bar',
    library: {subtitle: {useHTML: true, text: '<i class="fas fa-arrow-right" style="color: #00bc8c"></i> More is better'}}, height: '500px', stacked: false %>
<%= render partial: 'benches/stats_total', locals: {types: BenchesGame.where(bench_id: @benchmark.id).first.types, benches_game_id: BenchesGame.where(bench_id: @benchmark.id).first.id} %>
<script type="text/javascript">
  function hide(){
    $('.highcharts-button-symbol').hide()
    $('.highcharts-button-box').hide()
    $('#hide').hide()
    $('.navbar').hide()
    animateGraph();
  }
  
  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }
  async function animateGraph(){
    await sleep(5000)
    for (var i = Highcharts.charts[0].series.length - 1; i >= 0; i--) {
      Highcharts.charts[0].series[i].show()
      await sleep(2500)
    }
  }
  $.getJSON('<%= totalbar_bench_path(@benchmark) %>' + '.json', function(data) {
    Plotly.newPlot('bar_chart', data);
  })
</script>
