<style media="screen">
  body{
    padding-top: 100px;
    overflow-y: hidden;
    overflow-x: hidden;
  }
</style>
<h1 class="text-center"><%= @benchmark.name %></h1>
<h3 class="text-center">Total</h3><br>
<%= bar_chart benches_totalbar_path(@benchmark), colors: ["#3398dc", "#6639b6", "#e64b3b", "#ebc71d"], title: 'Average', id: 'bar', ytitle: "FPS", library: {subtitle: {useHTML: true, text: '<i class="fas fa-arrow-right" style="color: #00bc8c"></i> More is better'}}, height: '500px' %> 
<%= render partial: 'benches/stats_total', locals: {types: BenchesGame.where(bench_id: @benchmark.id).first.types, benches_game_id: BenchesGame.where(bench_id: @benchmark.id).first.id} %>
<button id="hide" onclick="hide()">Hide</button> 
<script type="text/javascript">
  function hide(){
    $('.highcharts-button-symbol').hide()
    $('.highcharts-button-box').hide()
    $('#hide').hide()
    $('.navbar').hide()
    animateGraph();
  }
  
  
  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }
  async function animateGraph(){
    await sleep(5000)
    for (var i = Highcharts.charts[0].series.length - 1; i >= 0; i--) {
      Highcharts.charts[0].series[i].show()
      await sleep(2500)
    }
  }
</script>
